
@foreach (var user in Model)
{

    if (user.FilePath == null)
    {
        <img src="~/Images/city-hall.png" style="width:120px;height:120px;border-radius:100%" />
    }
    else
    {
        <img src="@user.FilePath" style="width:120px;height:120px;border-radius:100%;" />
    }

    <p style="display:block; color:white;font-size:13px;">

        @user.Name
        <br />
        User
    </p>

}